In [1]:
s = 'abc'

print(s + 10)

TypeError: can only concatenate str (not "int") to str

In [2]:
s = 'abc'

print(s + str(10))

abc10

In [3]:
s1 = 'abc'
s2 = 'def'

print(s1 + s2)

abcdef

In [4]:
s = 'a'

print(s * 5)

aaaaa

In [5]:
s = 'a'

print(s * 5.5)

TypeError: can't multiply sequence by non-int of type 'float'

In [6]:
s = 'abc '

print(s * 5)

abc abc abc abc abc