In [1]:
s1 = 'Hello'

In [2]:
print(s1[0])

H

In [3]:
print(s1[4])

o

In [4]:
print(s1[-5])

H

In [5]:
print(s1[-1])

o

In [6]:
print(len(s1))

5

In [7]:
for i in s1:
    print(i)

H
e
l
l
o

In [8]:
s1 = 'Hello'
s2 = "Hello"
s3 = '''Hello'''
s4 = """Hello"""

print(s1, s2, s3, s4)

Hello Hello Hello Hello

In [9]:
# s5 = 'Clark's' -> this will throw an error
s5 = "Clark's"
s5

"Clark's"